<div class="row d-flex justify-content-end">
    <div class="col-md-4" *ngIf="isImporterVisible">
        <button type="button" class="btn btn-warning">
            <fa-icon [icon]="faCloudUpload" class="col-md-1"></fa-icon>
            <span class="col-md-11">Importer</span>
        </button>
    </div>
    <div class="col-md-4" *ngIf="isExporterVisible">
        <button type="button" class="btn btn-success">
            <fa-icon [icon]="faCloudDownload" class="col-md-1"></fa-icon>  
            <span class="col-md-11">Exporter</span>
        </button>
    </div>
    <div class="col-md-4" *ngIf="isNouveauVisible">
        <button type="button" class="btn btn-primary">
            <fa-icon [icon]="faPlus" class="col-md-1"></fa-icon>   
            <span class="col-md-11" (click)="boutonNouveauClick()">Nouveau</span>
        </button>
    </div>
</div>