<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>Listes des articles</h1>
        </div>
        <div class="col-md-4 text-right">
            Les boutons d'actions
        </div>
    </div>

    <div class="col row m-3">
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
    </div>

    <div class="row">
        <p>Pagination</p>
    </div>
</div>