<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light">
        <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
    </button>
    <button type="button" class="btn btn-light">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>

    <button type="button" class="btn btn-light">
        1
    </button>
    <button type="button" class="btn btn-light">
        2
    </button>
    <button type="button" class="btn btn-light">
        3
    </button>
    <button type="button" class="btn btn-light">
        4
    </button>
    <button type="button" class="btn btn-light">
        5
    </button>
    <button type="button" class="btn btn-light">
        6
    </button>

    <button type="button" class="btn btn-light">
        <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
    <button type="button" class="btn btn-light">
        <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
    </button>
</div>