/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eff2f5 !important;
}

.custom-icon {
    font-weight: bold;  /* Mettre en gras */
  }

  .backgroud-gray{
    background-color: #eff2f5 !important;
  }
  
  .border-none{
    border: none !important;
  }
  .min-height-80{
    min-height: 80px;
  }